h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 28, 31);
}
#main {
    background-color: #c9eed9;
    border: 2px;
    border-color: black;
    width: 50%;
    height: fit-content;
    aspect-ratio: 4/3;
}
td {
    width:40%;
    vertical-align: top;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
td > * {
    text-align: left;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}
tr {
    width:40%;
    border: 2px;
    border-color: black;
}
input {
    width: 75%;
    
    align-self: center;

}
#outputCol {
    height: 10cm;
}
#outputCol > textarea {
    height: 75%;
    width: 80%;
    box-sizing: border-box;
    resize: none;
}